
@media(min-width: 800px){
    .formulario{
        width: 40% !important;
    }

}

#nameContacto{
    font-weight: bolder;
}

.formulario{
    font-weight: bolder;
    background-color: rgba(255,255,255, 0.6);
    width: 90%;
    padding: 2%;
    margin-top: 40px !important;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 10px;
}

#hour-text{
    font-weight: bolder;
}

#formhead{
    font-size: 120%;
}

.data{
    padding: 1%;
}

.grid{
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.data{
    margin-top: 3%;
}

.maniana{
    margin-top: 10%;

}

#grid-tarde{
    margin-top: 10%;
}

#hour-text-maniana{
    margin-top: 10%;

}


#hour-text-tarde{
    margin-top: 10%;
}

.tarde{
    margin-bottom: 10%;
    margin-top: 5%;
}

#obvs{
    width: 0 auto ;
}

.boton{
    margin-top:7%;
}

.group{
    border-style: solid;
    border-radius: 10px;
    width: 20%;

}