body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../img/693688.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.description{
    font-size:50px;
    margin-top: 100px;
}

.navbar{
    margin-top: 0%;
}


.navbar-brand, .navbar{
    font-size: 40px ;
    font-stretch: wider;
    font-family: 'Lucida Sans';
}

.navbar-brand{
    font-size: 50px !important;
}

.proberbio{
    padding-top: 10%;
}

.japan{
    font-size: 700%;
    font-weight: bold;
}

#traduccion{
    background-color: rgba(255,255,255,0.6);
    font-size: bold;
    font-size: 200%;
    border-radius: 4mm;
    display:inline-block;
}

#trad{
    background-color: rgba(255,255,255,0.6);
    border-radius: 2mm;    
    display:inline-block;
}

#traduccion{
    margin-top:  20px;
    font-size: 50px !important;
}

.desc{
    background-color: rgba(255,255,255,0.6);
    width:50%;
    border-radius: 4mm;
}

.type{
    font-size: 25px !important;
}

.nav-item:hover{
    font-weight: bold;
    background-color: rgba(255, 197, 91, 0.6);
    border-radius: 3mm;
}
