body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../img/693688.jpg");
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
}

#navbarToggler{
    margin-right: 15%;
}


.navbar-brand, .navbar{
    font-size: 40px ;
    font-stretch: wider;
    font-family: 'Lucida Sans';
}

.navbar-brand{
    font-size: 50px !important;
}


.japan{

    font-size: 400%;
    font-weight: bold;
}

.traduccion{
    background-color: rgba(255,255,255,0.6);
    font-weight: bold;
    font-size: 4vh;
    width: 100vh;
    border-radius: 4mm;
    display:inline-block;
}

#trad{
    background-color: rgba(255,255,255,0.6);
    border-radius: 2mm;    
    display:inline-block;
    font-weight: bold;
}

#traduccion{
    margin-top:  20px;
    font-size: 50px !important;

}

.desc{
    background-color: rgba(255,255,255,0.6);
    width:50%;
    border-radius: 2mm;
    font-weight: bold;
}


.type{
    font-size: 25px !important;
}

.nav-item:hover{
    font-weight: bold;
    background-color: rgba(255, 197, 91, 0.6);
    border-radius: 3mm;
}

.footer{
    background-color: rgba(255,255,255,0.6);
    
}

#linkedin:hover{
    width: 17%;
    height: 17%;
}

.card{
    width: 18rem;
    position:center;
    
}

#personal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer{
    position: absolute;
    width: 100%;
}